### Part 1: SQL Challenge

In [2]:
!sqlite3 mydatabase.db < addData.sql
!sqlite3 mydatabase.db < part1.sql

10|Jason Dave|jdave@gmail.com|1834-04-09
1|Abigail Allan|aallan@gmail.com|1870-08-09
2|Blake Evan|bevan@gmail.com|1918-10-12
7|Jake Don|jdon@gmail.com|1928-07-08
11|Jason Allam|jallam@gmail.com|1966-04-09
6|Rick Morty|rmorty@gmail.com|1970-05-08
12|Jason Rick|jrick@gmail.com|1978-07-09
8|Rachel Don|rdon@gmail.com|1980-06-08
14|Tom Rick|trick@gmail.com|1980-09-09
5|Dylan Gordon|dgordon@gmail.com|1981-03-05
90
Abigail Allan|157
Tom Rick|129
Jason Rick|116
Dan Don|116
Jake Don|111
Rachel Don|92
Lorelai Gilmore|90
Kyle Tom|85
Jason Allam|75
Rick Morty|64

##### 1. Who are the first 10 authors ordered by date_of_birth?

In [ ]:
SELECT *
FROM authors
ORDER BY date_of_birth
LIMIT 10;

##### 2. What is the sales total for the author named “Lorelai Gilmore”?

In [ ]:
SELECT SUM(s.item)

##### 3. What are the top 10 performing authors, ranked by sales revenue?

### Testing

In [ ]:
-- Create tables
CREATE TABLE authors (
    id serial PRIMARY KEY,
    name text,
    email text,
    date_of_birth timestamp
);
CREATE TABLE books (
    id serial PRIMARY KEY,
    author_id integer REFERENCES authors (id),
    isbn text
);
CREATE TABLE sale_items (
    id serial PRIMARY KEY,
    book_id integer REFERENCES books (id),
    customer_name text,
    item_price money,
    quantity integer
);

-- Insert sample data into the tables
INSERT INTO authors (name, email, date_of_birth) VALUES
    ('Abigail Allan', 'aallan@example.com', '1870-08-09'),
    ('Blake Evan', 'bevan@example.com', '1918-10-12'),
    ('Dylan Gordon', 'dgordon@example.com', '1981-03-05');

INSERT INTO books (author_id, isbn) VALUES
    (1, 'ISBN-1234'),
    (2, 'ISBN-5678'),
    (3, 'ISBN-9101');

INSERT INTO sale_items (book_id, customer_name, item_price, quantity) VALUES
    (1, 'Customer A', 25.99, 2),
    (2, 'Customer B', 19.50, 1),
    (3, 'Customer C', 35.75, 3);